/* @font-face {
    font-family: Tajwal;
    src: url(../assets/fonts/Tajawal-Bold.ttf);
} */

/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ol,
ul {
    list-style: none;
} */

/* span,
p,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
td {
    font-family: 'Tajawal';
} */
